Serveis.Esteganografia/Serveis.Esteganografia/obj/
Serveis.Esteganografia/Serveis.Esteganografia/bin/
Serveis.Esteganografia/.vs/
Serveis.Esteganografia/packages/
Serveis.WebService.Consola/.vs/
Serveis.WebService.Consola/Serveis.WebService.Consola/obj
Serveis.WebService.Consola/Serveis.WebService.Consola/bin
Serveis.Penjat/Serveis.Penjat/obj/
Serveis.Penjat/.vs/
Serveis.Penjat/Serveis.Penjat/bin/
Serveis.Dibuixador/Serveis.Dibuixador/.vs/Serveis.Dibuixador/v15/Server/sqlite3/storage.ide-shm
Serveis.Dibuixador/Serveis.Dibuixador/.vs/Serveis.Dibuixador/v15/.suo
Serveis.Dibuixador/Serveis.Dibuixador/.vs/Serveis.Dibuixador/v15/Server/sqlite3/db.lock
Serveis.Dibuixador/Serveis.Dibuixador/.vs/Serveis.Dibuixador/
Serveis.Dibuixador/Serveis.Dibuixador/obj/
Serveis.Dibuixador/Serveis.Dibuixador/bin/
