Serveis.Esteganografia/Serveis.Esteganografia/obj/
Serveis.Esteganografia/Serveis.Esteganografia/bin/
Serveis.Esteganografia/.vs/
Serveis.Esteganografia/packages/
Serveis.WebService.Consola/.vs/
Serveis.WebService.Consola/Serveis.WebService.Consola/obj
Serveis.WebService.Consola/Serveis.WebService.Consola/bin